<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgPoe_MVC_AgriEnergyConnect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProgPoe_MVC_AgriEnergyConnect.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Agri Energy Connect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-ligth" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-ligth" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
                        {
                            @*------------------------------ Employee can View farmers accounts and choose to delete them*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Farmer" asp-action="Index">View Profiles</a>
                            </li>
                            @*------------------------------ Employee can view farmer products*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Product" asp-action="ProductFilter">View Products</a>
                            </li>
                            @*------------------------------ Employee can register farmers accounts*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Account" asp-action="Register">Register Farmer</a>
                            </li>
                            @*------------------------------ Employee can Log Out*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("Farmer"))
                        {             
                            @*------------------------------ Farmer can create his profile*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Farmer" asp-action="Create">Create Profile</a>
                            </li>
                            @*------------------------------ Farmer can view his profile*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Farmer" asp-action="Index">Your Profile</a>
                            </li>
                            @*------------------------------ Farmer can create a product*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Product" asp-action="Create">Create Product</a>
                            </li>
                            @*------------------------------ Farmer can view his products*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Product" asp-action="Index">View Products</a>
                            </li>                          
                            @*------------------------------ Farmer can Log Out*@
                            <li class="nav-item">
                                <a class="nav-link text-ligth" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Agri Energy Connect
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

